.header {
  position: fixed;
  left: 0;
  z-index: 10;
  display: flex;
  padding: 5vh 30px;
  background-color: transparent;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 50px;
  height: 50px;
  a {
    display: block;
    font-size: 18px;
    margin: 15px 16px;
    font-weight: bold;
    z-index: 12;
    position: relative;
  }
  text {
    text-anchor: middle;
    font-size: 105px;
    font-family: 'Courgette', cursive;
    font-weight: 900;
    fill: #000000;
    transition: .5s;
  }
  circle {
    fill: #ffffff;
  }
  &:hover {
    cursor: pointer;
    text {
      fill: #ffffff;
    }
    circle {
      fill: #ef233c;
    }
  }
}


@media screen and (max-width: 62em) {
  .header {
    position: relative;
    padding: 3vh 15px;
  }
}
