.card {
  width: 40vw;
  height: auto;
  &:hover {
    transform: scale(1.04);
  }
}
.image-box {
  width: 90%;
  margin: 0 auto;
  height: 25vw;
  background-color: #14213d;
  &:hover {
    cursor: pointer;
  }
}
.image {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}
