.cards--wrap {
  position: absolute;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: opacity 200ms ease-in-out;
  top: 20vh;
  right: 5vw;
  z-index: 15;
  width: 40vw;
  background-color: transparent;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cards--container {
  width: fit-content;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: carousel 14s ease-in-out infinite;
  &:hover {
    animation-play-state: paused;
  }
}
.card-last {
  width: 40vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //opacity: .2;
  .image {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
}
.letter {
  animation: color-switch 3s linear infinite;
}

@keyframes color-switch {
  0% {
    color: #14213d;
  }
  25% {
    color: #ef233c;
  }
  50% {
    color: #fca311;
  }
  75% {
    color: #ef233c;
  }
  100% {
    color: #14213d;
  }
}

@keyframes carousel {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40vw);
  }
  90% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(-80vw);
  }
}

@media screen and (max-width: 62em) {
  .cards--wrap {
    position: relative;
    top: unset;
    width: 100vw;
    height: auto;
    right: unset;
  }
  .cards--container {
    flex-direction: column;
    animation: none;
    margin: 0 auto;
  }
  .card-last {
    padding-top: 7.5vh;
    height: 40vw;
    .image {
      width: 75px;
      height: 50px;
    }
  }
}

