.footer {
  z-index: 10;
  background-color: transparent;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  padding-left: 30px;
  ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0;
    list-style: none;
    li {
      padding-right: 30px;
      font-size: 1.3rem;
      font-weight: 800;
      color: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 62em) {
  .footer {
    position: relative;
    padding-left: 0;
    border-left: none;
    ul {
      justify-content: flex-start;
      align-items: flex-end;
      padding: 3vh 0;
      li {
        padding-right: 15px;
        line-height: 2rem;
      }
    }
  }
}
